/* Color */
$blue: #0d6efd;
$white: #ffffff;
$black: #212529;
$gray: #adb5bd;
$light-gray: #e9ecef;
$red: #f21b3f;

/* Universal */
body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  p{
    margin: 0;
  } 
}

footer{
  color: $white;
  margin-top: auto;
}

.content{
  padding-top: 20px;
  padding-bottom: 20px;
}

/* User */

/* Form */
form{
  div#error_explanation{
    color: $red;
  }
  input{
    margin-bottom: 5px;
    &[type="submit"]{
      margin-top: 10px;
    }
  }
  a{
    &.info{
      display: block;
      text-align: center;
      color: $gray;
      &:hover{
        color: $black;
      }
    }
    &.forget-password{
      text-align: right;
    }
  }
}

/* Profile */
aside{
  section{
    margin-bottom: 10px;
  }
  li.nav-item{
    a, button{
      color: $black;
      &:hover{
        color: $black;
      }
    }
    &:hover{
      background-color: $light-gray;
      border-radius: 5px;
    }
  }
}

.gravatar{
  float: left;
  margin-right: 10px;
}

/* Category */
a.link-category{
  text-decoration: none;
  color: $black;
}

/* Product */
.product{
  margin-bottom: 50px;
  a.link-product{
    text-decoration: none;
    .name-product{
      color: $black;
      text-transform: capitalize;
    }
  }
}

/* Edit page */
.edit-page{
  table{
    border-collapse: collapse;
    width: 100%;
    td, th{
      border: 1px solid $light-gray;
      text-align: left;
      padding: 8px;
    }
    margin-bottom: 10px;
  }
  h2{
    display: inline;
  }
  a{
    margin-bottom: 5px;
    &.new-object{
      float: right;
      margin-bottom: 20px;
    }
  }
}

/* Cart */
.cart-item{
  img.image-item{
    float: left;
    margin-right: 10px;
  }
}
