/* Color */
$blue: #0d6efd;
$white: #ffffff;
$black: #212529;
$gray: #adb5bd;
$red: #f21b3f;

/* Universal */
body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer{
  color: $white;
  margin-top: auto;
}

.content{
  padding-bottom: 20px;
}

/* Form */
form{
  div#error_explanation{
    color: $red;
  }
  input{
    margin-bottom: 5px;
    &[type="submit"]{
      margin-top: 10px;
    }
  }
  a.info{
    display: block;
    text-align: center;
    color: $gray;
    &:hover{
      color: $blue;
    }
  }
  a.forget-password{
    text-align: right;
  }
}
