/* Color */
$blue: #0d6efd;
$white: #ffffff;
$black: #212529;
$gray: #adb5bd;
$light-gray: #e9ecef;
$red: #f21b3f;

/* Universal */
body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  p{
    margin: 0;
    size: 0.8rem;
  }
  h2{
    display: inline-block;
    margin-bottom: 20px;
  }
}

/* Remove number stepper in number input*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.text-center{
  display: block;
  text-align: center;
}

footer{
  color: $white;
  margin-top: auto;
}

.content{
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Home */
a.navbar-brand{
  img.logo{
    margin-right: 10px;
    height: 30px;
    width: 30px;
  }
  p{
    display: inline;
  }
}

/* Form */
form{
  input{
    margin-bottom: 5px;
    &[type="submit"]{
      margin-top: 10px;
    }
  }
  a{
    &.info{
      display: block;
      text-align: center;
      color: $gray;
      &:hover{
        color: $black;
      }
    }
    &.forget-password{
      text-align: right;
    }
  }
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

/* Profile */
aside{
  section{
    margin-bottom: 10px;
  }
  li.nav-item{
    a, button{
      color: $black;
      &:hover{
        color: $black;
      }
    }
    &:hover{
      background-color: $light-gray;
      border-radius: 5px;
    }
  }
}

.gravatar{
  float: left;
  margin-right: 10px;
}

/* Category */
a.link-category{
  text-decoration: none;
  color: $black;
}

/* Product */
.card-product{
  margin-bottom: 50px;
  a.link-product{
    text-decoration: none;
    strong{
      color: $black;
      text-transform: capitalize;
    }
    img{
      width: 100%;
    }
  }
  div.button-cart{
    padding-left: 0;
  }
}

.product-detail{
  h2{
    display: block;
  }
}

/* Edit page */
.table-info{
  table{
    border-collapse: collapse;
    width: 100%;
    td, th{
      border: 1px solid $light-gray;
      text-align: left;
      padding: 8px;
    }
    margin-bottom: 10px;
  }
  a.create-button{
    float: right;
    margin-bottom: 20px;
  }
  a.edit-button{
    margin-right: 5px;
  }
  a.category-detail{
    text-decoration: none;
    color: $black;
    &:hover{
      text-decoration: underline;
    }
  }
  td.action-column{
    width: 10%;
  }
}

form.delete-form{
  display: inline-block;
}

/* Cart */
img.image-item{
  float: left;
  margin-right: 10px;
}

/* Search */
form.search-box{
  input{
    background: transparent;
    height: 40px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid $gray;
    border-radius: 0; 
    border-right: 0;
    margin-top: auto; 
    margin-bottom: auto;
    color: $black;
  }
  input:focus{
    box-shadow: none;
  }
}

/* Sweet alert */
button.swal2-confirm{
  padding: 0;
  text-align: center;
  a{
    padding: 10px 20px;
    display: block;
    color: $white;
    text-decoration: none;
  }
  p{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
  }
}

/* paginate */
.pagination{
  justify-content: center;
  a.page-link{
    color: $black;
    &:focus{
      box-shadow: none;
    }
  }
  li.active>a.page-link{
    color: $white;
    background-color: $black;
    border-color: $black;
  }
}
